@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    padding: 10px;
}

.container {
    width:100%;
    max-width: 900px;
    text-align: center;
    align-content: center;
}
.container img {
    max-width:100%;
    height:auto;
}
.column {
    width:32%;
    float:left;
    text-align: left;
    height: 250px;
    padding-left: 4px;
}

.column img {
    max-width:100%;
    height:auto;
}
header {
    text-align: center;
    align-content: center;
    padding-bottom: 20px;
}
footer {
    text-align: left;
}
